*{
    margin: 0;
}

body{
    background-color: #ebe6ea;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal; 
}

#perfil{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0;
}

.header-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-div div{
    margin: 10px;
}

.navegacion{
    text-align: center;
}

#btn{
    padding: 7px;
    border-style: none;
    background-color: #800000;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow:0 0 20px 0 #800000;
    color: #fff;
}

#btn:hover{
    background-color: #000;
    color: #FFF;
    transition: 1s all;
}

#btn-editar, #btn-eliminar{
    padding: 7px;
    border-style: none;
    background-color: #800000;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
}



header, nav, main, footer{
    margin: 35px;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    box-shadow: 0 0 20px 0 #800000;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #fff;
    padding: 5px;
}

th{
    background-color: #800000;
    color: #fff;
}

td{
    text-align: center;
}

footer{
    text-align: center;
    font-size: 14px;
}

@media only screen and (max-width: 768px){

    .contenido{
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    table{
        width: 750px;
        display: table;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar-track {
        background: #800000;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgb(77, 77, 77);
        border-radius: 20px;
    }
}